.content{
	background-color: #fff;
	min-height: 100%;
}
.heading{
	padding: 0.8em;
	font-family: Roboto, sans-serif;
}
body{
	background-image: url(images/bg.jpg);
	background-size: cover;
}
@media (max-width: 600px) {
	.content{
		background-color: #777;
		clear: both;
		margin-left: auto;
		margin-right: auto;
		padding-left: 3%;
		padding-right: 3%;
	}
	body{
		padding-left: 3%;
		padding-right: 3%;
	}
}

@media (min-width: 600px) {
	.content{
		float: right;
		width: 50%;
		padding-left: 1%;
		padding-right: 1%;
	}
}