.wheel{
	width: 10%;
	position: fixed;
	bottom: 95px;
}
body{
	background-color: #9DDDEF;
	padding: 0px;
	/*height: 20000px;*/
}
.dirt{
	position: fixed;
	background-image: url(ground1.png);
	bottom: 0px;
	bottom: 0;
	width: 100000px;
	height: 100px;
	background-repeat: repeat;
	left: 0px;
}
.cement{
	position: fixed;
	background-image: url(cem1.png);
	bottom: 0px;
	bottom: 0;
	width: 100000px;
	height: 100px;
	background-repeat: repeat-x;
	left: 0px;
}